body {
  min-height: 2000px;
  padding-top: 70px;
}

.navbar-brand img
{
    display: none !important;
    margin-top: -25px;
}

.navbar-brand
{
    /*width: 150px;*/
}

.img-face
{
    margin-top: -11px;
    margin-left: -10px;
    margin-right: 5px;
    margin-bottom: -11px;
    -webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.35);
    box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.35);
}

.navbar
{
     -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-search img
{
    margin-top: -2px;
}

.nav-notification
{
    width: 72px;
}

.nav-notification img
{
    margin-top: -10px;
    margin-bottom: -10px;
}

.nav-notification .badge
{
    margin-top: -5px;
    margin-left: -11px;
    float: right;
    background-color: #c9302c;
    max-width: 28px;
    overflow: hidden;
}

.notification-list
{
    width: 450px;
    margin-right: -100px;
    height: 300px;
    overflow-y: auto;
}

/* Notification Header */
.notification-list li:nth-child(1)
{
    position: fixed;
    background-color: #fff;
    width: 448px;
    height: 30px;
    margin-top: -5px;
    padding-top: 5px;
    margin-bottom: 5px;
    z-index: 1000 !important;
}

.notification-list li:nth-child(1) span:nth-child(1)
{
    padding-top: 2px;
    float: left;
}

.notification-list li:nth-child(1) span:nth-child(2)
{
    padding-top: 3px;
    float: right;
}

.notification-list li:nth-child(2)
{
    margin-top: 25px;
}

.notification-list li:nth-child(n)
{
    border-bottom: 1px solid #eee;
}

/* Notifications */
.notification-list li:nth-child(n+2) a
{
    height: 48px !important;
}

.notification-list li:nth-child(n+2) a span:nth-child(1)
{
    width: 100%;
    overflow: hidden;
}

/* Notification Side Panel */
.notification-list li:nth-child(n+2) a .notification-icons
{
    float: right;
    margin-right: -14px;
}

/* Notification List */
.notification-list li:nth-child(n+2)
{
    height: auto !important;
}

/* Notification Footer
.notification-list li:nth-last-child(1)
{
    border-bottom: 0px solid #eee;
    border-top: 1px solid #eee;
    position: fixed;
    height: 30px !important;
    width: 448px;
    font-size: 12px;
}

.notification-list li:nth-last-child(1) a
{
    padding-top: 5px;
    height: 30px !important;
    text-align: center;
}
*/