{% extends 'base.html' %}

{% block body %}
      <div class="jumbotron">
        <h1>Welcome Javier</h1>
        <p>Let's get you started around.</p>
        <p>This tour will show you where things are, and the things you can do. You may quit the tour at anytime.</p>
        <p>
          <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">Start Tour &raquo;</a>
        </p>
      </div>
{% endblock %}

{% block includes_body %}
{{ super() }}
<!-- TODO: Smooth scrolling using velocity of mousewheel -->
<script type="text/javascript">
$('.notification-list').on('mousewheel', function (e) {
    var event = e.originalEvent,
        d = event.wheelDelta || -event.detail;

    this.scrollTop += ( d < 0 ? 1 : -1 ) * 3;
    e.preventDefault();
});
</script>
{% endblock %}